
body{
    background-color: #141414f5;
}
.name{
    width: 40%;
    margin: auto;
    padding-top: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap:20px;
}
.name span{ 
    color: white;
    font-size: 40px;
}
.name p{
    color:white ;
}
.icon{
    display:flex;
    width: 130px;
    margin: auto;
    border: 0px solid white;
    height:40px;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom:10px;

}
.form{
    width:40%;
    margin: auto;
    display:flex ;
    flex-direction: column;
    row-gap:15px;
    margin-top: 10px;
    padding: 20px;
}
.form>input{
    padding: 15px;
    background-color: #141414;
    border: 1px solid #8F8F8F;
    color:white;
    border-radius: 5px;
}
.form>#login{
    background-color: red;
    color: white;
    padding:18px;
    margin-top: 18px;
    border: none;
}
p{
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
p>a{
    color: white;
}
.alert{
    width: 39%;
    height: 40px;
    margin: auto;
    position: relative;
    padding: 5px;
    border:0px solid white;
    background-color: #100303;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
}
.alert>p{
    position: absolute;
    top: 12px;
    color:red;
}
#alerttr{
    opacity:1; 
    
}

/* pop up */

.modal__wrapper{
    position: fixed;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.modal__container {
    margin-top:20px;
    background:#141414;
    width: 200px;
    max-width: 90%;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
}
.btn__purple {
    margin-top: 40px;
    background:  red;
    padding: 10px 40px;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.btn__purple:hover {
    background: rgb(234,240,241);
    background-image: linear-gradient(to right top, #b509f2, #c800e5, #d800d8, #e400cb, #ed0ec0);
}

h2 {
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
h2>a{
    color:red;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__container button.close {
    position: absolute;
    right: 1px;
    top: 0px;
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
.modal__container button.close:hover {
    color: red;
}
.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}
.modal__wrapper.active .modal__container{
    transform: translateY(0px);
}



/* Medium screens */
@media all and (min-width: 651px) and (max-width: 1000px) {
    .form{
        width:60%;
        margin: auto;
        display:flex ;
        flex-direction: column;
        row-gap:15px;
        margin-top: 10px;
        padding: 20px;
    }
}

/* Small screens */

@media all and (min-width: 250px) and (max-width: 650px) {
    .form{
        width:80%;
        margin: auto;
        display:flex ;
        flex-direction: column;
        row-gap:15px;
        margin-top: 10px;
        padding: 20px;
    }

}