/* navbar css */
* {
    margin: 0px;
    padding: 0px; 
    font-family: 'Montserrat';
    
}
body{
    background-color: #141414
}
#header{
    background-color: #FF0000;
    color: white;
    font-weight:500;
    padding: 10px;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 10px;
}
#navbar{
    
    display: flex;
    justify-content: space-between;
    padding: 17px;
    border: 0px solid white;
    background-color: #141414;
    align-items: center;
}
#navbar>img{
    height: 40px;
    margin-bottom:5px;
}
#navbar>.nav{
    display: flex;
    justify-content: space-around;
    column-gap:60px;
    border: 0px solid white;
    align-items: center;
}
#navbar>.nav p>a{
    color: white;
    font-size: larger;
    text-decoration: none;  
}
#navbar>.navmid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap:60px;
    border: 0px solid white;
    
}
#navbar>.navmid p{
    color: white;
   font-size: larger;
   
}
#navbar>.navmid p:hover{
    color: red;
}

.nav input{
    border-radius: 30px;
    height:40px;
    width:240px;
    border: 0px;
}

/* footer.css */
.fast{
    background-color: #2C2C2C;
    padding: 20px;

}
.fast>div{
    width: 80%;
    margin: auto;
    text-align: center;
}
.fast>div p{
    font-size: small;
    color: #8F8F8F;
}
.footer{
    display: flex;
    border: 0px solid white;
    background-color: black;
    padding:25px;
    

}
.help{
    width: 55%;
    border: 0px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.help>div>p{
    
    margin-bottom: 15px;
    color: #8F8F8F;
    font-size: small;
}
.help>div>p:first-child{
    color: white;
}
.suscribe{
    width:45%;
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
}
.suscribe>img{
    width:90px;
}
.suscribe>p{
    color: #8F8F8F;
    font-size: small;
    margin-top: 20px;
    margin-bottom:20px;
    

}
.sub{
    display: flex;
    border: 1px solid #8F8F8F;
    width: 80%;
    height: 50px;
    border-radius:5px;
    justify-content: space-between;
    padding:2px;
    align-items: center;
    
    
}
.sub>div>input{
    color: #8F8F8F;
    font-size: small;
    margin-top: 20px;
    font-weight: lighter;
    border: 0px solid white;
    margin:10px;
    background-color: black;
    border: none;
}
.sub>div+button{
    width:160px;
    padding: 12px;
    border-radius:5px;
    background-color: red;
    color: white;
    font-weight: 700;
}
.social{
    display: flex;
    border:0px solid white;
    width: 40%;
    justify-content: space-around;
    margin-top: 20px;
    
}
.social img{
    background-color: azure;
    border-radius:100px;
    width:20px;
}
.social>a>img:hover{
    background-color: azure;
    border-radius:10px;
    width:21px;

}
.playstore{
    background-color: black;
    display: flex;
    justify-content: space-around;
    border: 0px solid white;
    
}
.playstore>.app{
    display: flex;
    color: white;
    border: 0px solid white;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    
}
.copyrigth{
    text-align: center;
    color: white;
    padding: 20px;
    background-color: black;
}




/* Medium screens */
@media all and (min-width: 651px) and (max-width: 900px) {


    /* navbar */
    #navbar>.nav{
        display: flex;
        justify-content: flex-start;
        column-gap:10px;
       
        align-items: center; 
       
        border: 0px solid white;
    }
    #navbar>.navmid p{
        color:#141414;
       font-size: 0px;
       position: absolute;
       bottom: 0;
       
    }
    .nav input{
        border-radius: 30px;
        height:40px;
        width:300px;
        border: 0px;
    }
    #navbar>.navmid{
        display: flex;
        align-items: center;
        column-gap:0px;
        border: 0px solid white;
        opacity:0 ;
        
    }


    /* footer */

    .footer{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .help{
        width: 80%;
        border: 0px solid white;
        margin: auto;
    }
    .suscribe{
        width:80%;
        margin: auto;

    }
    .playstore{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        row-gap:20px;
    
        
    }
    .playstore {
      
      width: 100%;
      margin: auto;
        
    }


}


/* Small screens */

@media all and (min-width: 250px) and (max-width: 650px) {

     /* navbar */
     #navbar>.navmid p{
        color:#141414;
       font-size: 0px;
       position: absolute;
       bottom: 0;
       
    }
    .nav input{
        border-radius: 30px;
        height:40px;
        width:300px;
        border: 0px;
    }
    #navbar>.navmid{
        display: flex;
        
        align-items: center;
        column-gap:0px;
        border: 0px solid white;
        
    }

    /* footer */

    .footer{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .help{
        width: 80%;
        border: 0px solid white;
        margin: auto;
    }
    .suscribe{
        width:80%;
        margin: auto;

    }
    .playstore{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        row-gap:20px;
    
        
    }
    .playstore {
      
      width: 100%;
      margin: auto;
        
    }


}

